.account-wrap {
  background-image: linear-gradient(rgb(0 0 0 / 75%), rgb(53 53 53 / 75%)),
    url("/assets/images/green-background.jpg");
  background-size: 100%;
  color: white;
  align-items: center;
  padding: 1% 10% 10%;
  font-weight: lighter;
}

.premise {
  background-color: rgba(255, 255, 255, 0.368);
  outline: none;
  height: 35px;
  border-radius: 5px;
  width: 250px;
}

.accounts {
  background-color: rgba(255, 255, 255, 0.368);
  outline: none;
  height: 35px;
  width: 250px;
  border-radius: 5px;
}

.button {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  margin-left: 150px;
}

.dashboard {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

.choose-account{
  background-color: rgba(255, 255, 255, 0.368);
  
}