@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("dashboard.css");
@import url("appliances.css");
@import url("reward.css");
@import url("navbar-main.css");
@import url("dropdown.css");
@import url("account.css");
@import url("forgot-password.css");

* {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0 !important;
  margin: 0;
  box-sizing: border-box;
}

.login-page {
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(39 38 38 / 75%)), 
    url("/assets/images/bg-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  margin-top: 5px;
  margin-left: 70%;
  margin-bottom: 50px;
}

.formclass {
  width: 62%;
  background-color: rgb(255 255 255);
  border-radius: 4px;
  margin-left: 10%;
  margin-top: 8%;
  padding: 1%;
  text-align: center;
}

.welcome-txt {
  margin: 10%;
  color: white;
}

.btn {
  width: 85%;
  margin-bottom: 4%;
  margin-top: 2%;
  /* background: linear-gradient(rgb(53 81 152), rgb(255 255 255 / 0%)); */
}

.email-id {
  margin: 10px 10px 20px 25px;
  padding-right: 20px;
}

.pwd {
  margin: 10px 10px 20px 25px;
  padding-right: 20px;
}

.sign-in {
  padding-top: 20px;
}

.error1 {
  display: flex;
  float: left;
  visibility: hidden;
}

.form-text {
  display: block;
  margin-top: 30rem;
}
