@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("dashboard.css");
@import url("appliances.css");
@import url("reward.css");
@import url("navbar-main.css");
@import url("dropdown.css");
@import url("account.css");
@import url("forgot-password.css");

* {
  font-family:
    Roboto system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding-left: 0 !important;
  margin: 0;
  box-sizing: border-box;
}

#myVideo {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  object-fit: cover;
}

.login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.374), rgba(39, 38, 38, 0.189));
  height: 100vh;
}

.navbar {
  float: right;
  margin-bottom: 50px;
}

.formclass {
  border-radius: 4px;
  margin-left: 10%;
  margin-top: 8%;
  padding: 1%;
  text-align: center;
}

.welcome-txt {
  color: white;
  font-weight: lighter;
}

.btn {
  width: 85%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.email-id {
  margin: 10px 10px 20px 25px;
  padding-right: 20px;
}

.pwd {
  margin: 10px 10px 20px 25px;
  padding-right: 20px;
}

.sign-in {
  padding-top: 20px;
}

.error1 {
  display: flex;
  float: left;
  visibility: hidden;
}

.form-text {
  display: block;
  margin-top: 30rem;
}
.passwords {
  padding-bottom: 20px;
  font-weight: lighter;
  text-decoration: none;
}

.passwords a{
  text-decoration: none;
  color: aliceblue;
}

.sign-in{
  font-weight: lighter;
}

.google-login{
  margin-left: 80px;
}

.email-input{
  width: 250px;
  height: 45px;
  border-radius: 20px;
  border: 1rem gray;
  color: aliceblue;
  background: linear-gradient(rgba(236, 235, 251, 0.249), rgba(239, 248, 250, 0.267))
}

.email-input::placeholder{
  color: white;
  font-weight: lighter;
}

.password-input{
  width: 250px;
  height: 45px;
  border-radius: 20px;
  border: 1rem gray;
  color: aliceblue;
  background: linear-gradient(rgba(236, 235, 251, 0.329), rgba(239, 248, 250, 0.354))
}

.password-input::placeholder{
  color: white;
  font-weight: lighter;
}

.login-button{
  border: 1rem gray;
  padding-left: 3px;
  border-radius: 4px;
  margin-bottom: 4%;
  width: 250px;
  height: 45px;
  background: linear-gradient(rgba(53, 56, 56, 0.479), rgba(62, 64, 64, 0.32));
  border-radius: 20px;
  color: aliceblue;
  font-weight: lighter;
}