.appliance-heading {
  background-color: rgb(10 180 219 / 88.6%);
  border-radius: 8px 8px 0 0;
}

/* .list {
  background-color: white;
  margin: 0 !important ;
  padding: 10px;
  border-radius: 0 0 8px 8px;
} */

.appliance {
  box-shadow: 2px 2px 5px rgb(0 0 0 / 26.5%);
  border-collapse: separate;
  border-radius: 8px;
  padding: 3px;
}
