.dashboard-page {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(135 139 143 / 52.1%) 0%,
    rgb(171 184 186 / 53%) 100%
  );
}

.navbar-main h3 {
  background-color: rgb(255 252 252);
}

.reading {
  background-color: white;
  color: black;
  justify-content: start;
}

.kwh {
  font-size: 1.2rem;
  margin-top: 1px;
  color: black;
}

.day {
  /* margin-top: 5px; */
  margin-left: 5px;
  color: rgb(0 0 0);
  font-size: 0.8rem;
}

.footprint {
  border: solid rgb(252 252 252);
  height: 65%;
  background-color: white;
}
