.activities{
  height: 2.8rem;
  background-color: rgb(100, 31, 1);
  border-radius: 3px;
  color: white;
}

.activites-wrap{
  margin-top: -130px !important;
}

.block{
  width: 3px;
  height: 70px;
  background-color: brown;
  border-radius: 2px;
}