<div class="account rounded-3 d-flex align-items-center p-1">
  <img class="acc-icon ms-5" src="/assets/images/account.svg" width="73px" />
  <div class="acc-details ms-2">
    <p class="acc ms-1">Account</p>
    <p class="acc-num">{{this.accountNumber}}</p>
  </div>
</div>