
<div
  class="address rounded-3 d-flex aligin-items-center p-1"
>
  <img class="loc ms-4" src="/assets/images/location.svg" width="73px" />
  <div class="username ms-2">
    <p class="user-details ">Mr. Walter Brown</p>
    <p class="street-name">Flat29 North-London UB24WLL</p>
  </div>{{! <p class="acc-num"><b> Account Number</b><span class="acc-no">xxxx xxxx xxxx</span> </p> }}
</div>