<div class="reading d-flex rounded-3 mb-2">
  <img class="bulb-icon ms-3" src="/assets/images/location.svg" width="35" />
  <div class="month-reading ms-3">
    <h3 class="kwh ms-1 mt-1 mb-0 pt-1">Mr. Walter Brown</h3>
    <p class="day">Flat29 North-London UB24WLL</p>
  </div>
</div>