<div class="address rounded-3 d-flex aligin-items-center p-1">
  <img class="loc ms-4" src="/assets/images/location.svg" width="73px" />
  <div class="username ms-2">
    <p class="user-details ">{{this.name}}</p>
    <p class="street-name">{{this.location}}</p>
  </div>
</div>