<table class="appliance table mt-3">
  <thead class="appliance-heading">
    <tr>
      <th scope="s-num col">Id</th>
      <th scope="col">Appliances</th>
      <th scope="col">Energy Consumption</th>
      <th scope="col">Manufacture Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each this.appliances as |appliance index|}}
      <tr>
        <th scope="row">{{inc index}}</th>
        <td>{{appliance.applianceName}}</td>
        <td>{{appliance.energyConsumption}}kWH</td>
        <td>{{appliance.manufactureDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>