<table class="appliance table mt-3">
  <thead class="appliance-heading">
    <tr>
      <th scope="s-num col">#</th>
      <th scope="col">Appliances</th>
      <th scope="col">Energy Consumption</th>
      <th scope="col">Manufacture Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Refridgerator</td>
      <td>70kWH</td>
      <td>10/11/2024</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Central Heater</td>
      <td>100kWH</td>
      <td>06/04/2023</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gas Cooker</td>
      <td>35kWH</td>
      <td>03/03/2022</td>
    </tr>
    {{!-- <tr>
      <th scope="row">4</th>
      <td>Boiler</td>
      <td>85kWH</td>
      <td>10/03/2024</td>
    </tr> --}}
    {{!-- <tr>
      <th scope="row">5</th>
      <td>Solar Panel</td>
      <td>57kWH</td>
      <td>10/03/2022</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Pump</td>
      <td>45kWH</td>
      <td>10/03/2023</td>
    </tr> --}}
  </tbody>
</table>