<table class="appliance table mt-3">
  <thead class="appliance-heading">
    <tr>
      <th scope="s-num col">#</th>
      <th scope="col">Appliances</th>
      <th scope="col">Power Consumption</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Refridgerator</td>
      <td>70kWH</td>
      <td>10/11/2024</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Central Heater</td>
      <td>100kWH</td>
      <td>06/04/2023</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gas Cooker</td>
      <td>35kWH</td>
      <td>03/03/2022</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Boiler</td>
      <td>85kWH</td>
      <td>10/03/2022</td>
    </tr>
    {{!-- <tr>
      <th scope="row">5</th>
      <td>Water Purifier </td>
      <td>35kWH</td>
      <td>03/03/2022</td>
    </tr> --}}
  </tbody>
</table>

{{! <div class="appliance border rounded-3 mt-3">
    <div class="appliance-heading p-2">
      <h5>Appliances</h5>
    </div>
    <div class="list row ">
      <div class="col-4"><p>Fridge</p> </div>
      <div class="col-4"><p>37kWH</p></div>
      <div class="col-4"><p>10/11/2001</p></div>

      <div class="col-4"><p>Boiler</p> </div>
      <div class="col-4"><p>58kWH</p></div>
      <div class="col-4"><p>06/04/2001</p></div>

      <div class="col-4"><p>Fan</p> </div>
      <div class="col-4"><p>23kWH</p></div>
      <div class="col-4"><p>08/03/2001</p></div>

      <div class="col-4"><p>Heater</p> </div>
      <div class="col-4"><p>87kWH</p></div>
      <div class="col-4"><p>27/7/2001</p></div>

      <div class="col-4"><p>Water purifier</p> </div>
      <div class="col-4"><p>37kWH</p></div>
      <div class="col-4"><p>09/06/2001</p></div>
    </div>
  </div> }}