<div class="appliance-detail d-flex justify-content-between ps-3 pe-3 pt-1 mt-2">
  <p>Id</p>
  <p>Appliances</p>
  <p>Consumption</p>
  <p>Manufacture Date</p>
</div>

{{#each this.appliances as |appliance index|}}
<div class="appliance bg-light d-flex justify-content-between ps-3 pe-3 pt-1 mt-1">
  <p>{{inc index}}</p>
  <p class="me-4">{{appliance.applianceName}}</p>
  <p class="me-5">{{appliance.energyConsumption}}KWH</p>
  <p>{{appliance.manufactureDate}}</p>
</div>
{{/each}}
