<div class="reading d-flex rounded-3 ">
  <img class="bulb-icon ms-3 mt-2" src="/assets/images/carbon.png" width="50" height="50"/>
  <div class="month-reading ms-2">
    <h3 class="kwh ms-1 mt-1 mb-0 pt-1"><b>347</b>tons CO2e</h3>
    <p class="day">in last 30 days</p>
  </div>
</div>
