<div class="footprint rounded-3">
  <div class="calc-wrap rounded-3 ps-4">
    <p class="note">Want you know your Carbon-Footprint for this month!Get
      Started to know!</p>
    <button class="carbon-calc-button ps-2 pe-2 rounded-1">Get started</button>
    <p class="pt-2">In the Misson to make the Earth Greener</p>
  </div>
</div>