<div class="footprint rounded-3">
  <p class="note">Note: Threshold for carbon footprint emission is 60 kg CO2e per month</p>
  <p class="desc p-2">Make sure to optimize the energy usage to cope up with your threshold limit and make the world
    greener</p>
</div>