<div class="footprint rounded-4">
  <p class="note">Note: The limit of carbon foot print usable is 60 tons</p>
  <LinkTo @route="carbon-calc" class="calc-btn btn-primary">Caluculat your
    Carbon-footprint</LinkTo>
  <p class="desc p-2">Make sure your carbon-footprint usage is less thsn the
    limit and make the world greener</p>

</div>