<nav class="dash-navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="user-img nav-item">
                    <img src="/assets/images/user.svg" alt="">
                </li>
                <li class="logout-button nav-item">
                    <LinkTo class="nav-link active" aria-current="page" @route="login">Logout</LinkTo>
                </li>
            </ul>
        </div>
    </div>
</nav>
