<div class="description m-5">
<h2 class="welcome-txt mb-2">Welcome to NextGEN</h2>
<h6 class="welcome-txt mt-4">
  Our planet, our responsibility. Let's reduce our carbon footprint and save the
  planet.A clean planet is a happy planet.We can only preserve the planet for
  generations to come if companies and governments act together to build a clear
  path towards carbon neutrality.
</h6>
</div>