<h2 class="welcome-txt">Welcome to Project-X</h2>
    <h5 class="welcome-txt">Our planet, our responsibility.
         Let's reduce our carbon footprint and save the planet.
          A clean planet is a happy planet.We can only preserve
           the planet for generations to come if companies and 
           governments act together to build a clear path towards
            carbon neutrality.</h5>