<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="pass">
                <h1>NextGen</h1>
                <p class="forgot">Forgot your password?</p>
                <p class="email">Enter your email below to reset your password </p>
                <input type="email" id="email" class="input" placeholder="Enter your email address">
                <button class="button">Reset password</button>
                <p class="signup">Don't have an account?SignUp</p>
           
            <div class="terms">
                <p><img src='assets/images/copyrights.svg'>NextGen</p>
                <p>Terms</p>
                <p>Privacy policy</p>
            </div>


            </div>
        </div>
    </div>

</div>

