<div class="container">
    <h1 class="strips">NextGen</h1>
    <label class="email">Email</label>
    <input type="text" class="input" required>
    <button class="button">Continue</button>
    <p class="signup">Don't have an account?</p>
</div>
<div class="terms">
    <p><img src='assets/images/copyrights.svg'>NextGen</p>
    <p>Contact</p>
    <p>Privacy &amp; terms</p>
</div>