<div class="fluid1 container-fluid">
    <div class="forgot-row row w-100 align-items-center ">
        {{#if this.isEmail}}
        <div class="forgot-cols col-5">
            <div class="row  mx-auto   ">
                <div class="left col-12 p-3 d-flex align-items-center">
                    <div class="wrapper">
                        <div class="new">
                            <h1 class="heading">Reset your Password</h1>
                            <label class="emails">Email</label>
                            <input type="email" id="email" class="input1">
                            <label class="emails">New password</label>
                            <input type="password" id="email" class="input1">
                            <label class="">Confirm password</label>
                            <input type="password" id="email" class="input1">
                            <button class="button2">Reset</button>
                            <LinkTo @route="forgot-password" class="linkto1" {{on "click" this.showForgotPage}}>Back To
                                Email</LinkTo>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="forgot-col col-5">
            <div class="row  mx-auto   ">
                <div class="left col-12 p-3 d-flex align-items-center">
                    <div class="wrapper">
                        <div class="new">
                            <h1 class="heading">Forgot your password?</h1>
                            <p class="enter">Enter your email below to change the password</p>
                            <label>Your email</label>
                            <input type="email" id="email" class="input">
                        </div>
                        <div class="buts"><button class="button1" {{on "click" this.showResetPage}}>Continue</button>
                            <p class="signup">Don't have an account?</p>
                        </div>
                        <LinkTo @route="login" class="linkto">Back To Login</LinkTo>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>