<div class="reading d-flex p-1 align-items-center rounded-3">
  <img class="bulb-icon ms-5" src="/assets/images/lightbulb.svg" width="60px" />
  <div class="month-reading ms-2">
    <h3 class="kwh"><span class="per-day-reading">465</span> Kwh</h3>
    <p class="day">in last 30 days</p>
  </div>
</div>