{{!-- <div class="readings">
  <div class="row w-100">
    <div class="col-3">
      <img class="img" src="/assets/images/bulb.png" alt="" />
    </div>
    <div class="numbers col-5">
      <h3 class="kwh">___Kwh</h3>
    </div>
    <div class="col-4">
      <p class="day">in last 30 days</p>
    </div>
  </div>
</div> --}}

<div class="reading d-flex border border-primary p-1 align-items-center rounded-5">
  <img class="bulb-icon ms-5" src="/assets/images/lightbulb.svg" width="60px" />
  <div class="month-reading ms-2">
    <h3 class="kwh"><span class="per-day-reading">465</span> Kwh</h3>
    <p class="day">in last 30 days</p>

  </div>
</div>