{{!-- <div class="reading d-flex rounded-3 ">
  <img class="bulb-icon ms-3" src="/assets/images/lightbulb.svg" width="30" />
  <div class="month-reading ms-2">
    <h3 class="kwh ms-1 mt-1 mb-0 pt-1"><b>{{this.lastMonthReading}}</b>Kwh</h3>
    <p class="day">in last 30 days</p>
  </div>
</div> --}}
