{{page-title "Dashboard"}}
<div class="dashboard-page">
<nav class="navbar-main ">
      <Dash-navbar />
    </nav>
  <div class="container">
    <div class="row mt-2">
      <div class="col-3">
        <Address />
      </div>
      <div class="col-3">
        <Account />
      </div>
      <div class="col-3">
        <Readings />
      </div>
      <div class="col-3">
        <Carbon-footprint />
      </div>
    </div>
    <div class="row">
      <div class="carbon-graph col-8">
        <Carbon-graph />
      </div>
      <div class="footprint-graph col-4">
        <Carbon-calculator />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <Appliances />
      </div>
      <div class="col-4">
        <Reward />
      </div>
    </div>
  </div>
</div>
