{{page-title "Login"}}
<div class="login-page">
  <video autoplay muted loop id="myVideo">
    <source src="/assets/images/windmill-bg.mp4" type="video/mp4" />
  </video>
  <Navbar />

  <div class="row w-100 landing-row align-items-center">
    <div class="text col-6">
      <Description />
    </div>
    <div class="login-form col-6">
      <Login-form />
    </div>

  </div>
</div>